---

- name: Add Sublime Text RPM GPG key
  rpm_key:  
    key: https://download.sublimetext.com/sublimehq-rpm-pub.gpg
    state: present

- name: Install Sublime Text 3 'Stable' RPM repository
  dnf:
    name: https://download.sublimetext.com/rpm/stable/x86_64/sublime-text.repo
    state: present
    when: release_channel == 'stable'

- name: Install Sublime Text 3 'Dev' RPM repository
  dnf:
    name: https://download.sublimetext.com/rpm/dev/x86_64/sublime-text.repo
    state: present
    when: release_channel == 'dev'

- name: Install Sublime Text 3 package
  dnf:
    name: sublime-text
    state: present
